/********************
    GLOBAL COLORS
        #D64541
        #3B4257
*********************/

body {
    margin: 0px;
    font-family: futura, sans-serif;
    /*padding-top: 70px;*/
}


/******************************************************************
                        Hamburger Menu
*******************************************************************/

#nav-icon3 {
    width: 25px;
    height: 20px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon3 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #fff;
    border-radius: 0px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}


/* Icon 3 */

#nav-icon3 span:nth-child(1) {
    top: -2px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
    top: 8px;
}

#nav-icon3 span:nth-child(4) {
    top: 18px;
}

#nav-icon3.open span:nth-child(1) {
    top: 10px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 10px;
    width: 0%;
    left: 50%;
}

.navbar {
    display: none;
}


/******************************************************************
                        Navigation Icons
*******************************************************************/
#mylogo {
    float: left;
}

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
span.icon {
    margin: 0 5px;
    color: #D64541;
}

.mrng-60-top {
    margin-top: 20px;
}

.navigation {
    position: fixed;
    z-index: 55;
    text-align: center;
    width: 100%;
    margin: auto;
    padding-bottom: 10px;
}


/* Global Button Styles */

a.animated-button:link,
a.animated-button:visited {
    position: relative;
    display: block;
    margin: 10px auto 0;
    padding: 14px 15px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    border-radius: 0;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

a.animated-button:link:after,
a.animated-button:visited:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
}

a.animated-button:link:hover,
a.animated-button:visited:hover {
    color: #FFF;
    text-shadow: none;
}

a.animated-button:link:hover:after,
a.animated-button:visited:hover:after {
    height: 450%;
}


/* Victoria Buttons */

a.animated-button.victoria-one {
    border: 2px solid #D24D57;
    font-family: 'Lato', sans-serif;
}

a.animated-button.victoria-one:after {
    background: #D24D57;
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}

a.animated-button.victoria-two {
    border: 2px solid #D24D57;
    font-family: 'Lato', sans-serif;
}

a.animated-button.victoria-two:after {
    background: #D24D57;
    -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    transform: translateX(-50%) translateY(-50%) rotate(25deg);
}

a.animated-button.victoria-three {
    border: 2px solid #D24D57;
    font-family: 'Lato', sans-serif;
}

a.animated-button.victoria-three:after {
    background: #D24D57;
    opacity: .5;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

a.animated-button.victoria-three:hover:after {
    height: 140%;
    opacity: 1;
}

a.animated-button.victoria-four {
    border: 2px solid #D24D57;
    font-family: 'Lato', sans-serif;
}

a.animated-button.victoria-four:after {
    background: #D24D57;
    opacity: .5;
    -moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    transform: translateY(-50%) translateX(-50%) rotate(90deg);
}

a.animated-button.victoria-four:hover:after {
    opacity: 1;
    height: 600% !important;
}


/******************************************************************
                        Title Section
*******************************************************************/

.intro {
    background-image: url('./img/meRocks.jpg');
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-size: cover;
    background-position: 35%;
    max-width: 100%;
}

#mainTitle {
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 90px;
    text-align: center;
    margin-top: 30px;
    font-family: futura, sans-serif;
    color: white;
    line-height: 80px;
    margin-bottom: 20px;
    font-weight: 100;
}

#mainTitle span {
    font-size: 60px;
    line-height: 50px;
    font-weight: 100;
    font-variant: small-caps;
    letter-spacing: 3px;
}

.startScrollBtn {
    z-index: 1;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    margin-top: 30px;
    /*transform: scale(1);*/
}

#colorOverlay {
    opacity: .6;
    background-color: #3B4257;
    height: 100vh;
    width: 100%;
}

/******************************************************************
                        About Me Button
*******************************************************************/

.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 8px 13px;
    border: 1px solid #a01421;
    border-radius: 0px;
    background: #ff253e;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff253e), to(#a01421));
    background: -moz-linear-gradient(top, #ff253e, #a01421);
    background: linear-gradient(to bottom, #ff253e, #a01421);
    font: normal normal bold 20px trebuchet ms;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase
}

.button:hover {
    border: 1px solid ##bc1727;
    background: #ff2c4a;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff2c4a), to(#c01828));
    background: -moz-linear-gradient(top, #ff2c4a, #c01828);
    background: linear-gradient(to bottom, #ff2c4a, #c01828);
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase
}

.button:focus {
    text-transform: uppercase
}


/******************************************************************
                        Profile Section
*******************************************************************/

#profileTitle {
    font-size: 40px;
    text-align: center;
}

#profile {
    height: 100vh;
    width: 100%;
    color: #3B4257;
    font-family: futura, sans-serif;
    font-size: 20px;
    padding-top: 73px;
}

#profile h3 {
    background-color: yellow;
    padding: 10px;
    height: auto;
    width: 100%;
    margin: auto;
    text-align: center;
    transform: rotateZ(25deg);
    position: relative;
    top: 30%;
    z-index: 1;
}

#profile h3:hover {
    transform: rotateZ(0deg);
}

#profile p {
    margin: auto;
    width: 70%;
    height: 200px;
}


/*#profileBorder {
    height: auto;
    width: 96vw;
    border: 7px solid #D64541;
    position: absolute;
    left: 2vw;
    z-index: 5;
}*/

#profileSpacer {
    border-bottom: 7px solid #D64541;
    text-align: center;
    width: 8vw;
    height: auto;
    margin: 20px auto;
}


/******************************************************************
                        3D Project Boxes
*******************************************************************/


/*#projectsBorder {
    height: auto;
    width: 96vw;
    border: 7px solid #D64541;
    position: absolute;
    left: 2vw;
}*/

#projectsTitle {
    font-size: 40px;
    /*padding-bottom: 10px;*/
}

#projectsSpacer {
    border-bottom: 7px solid #D64541;
    text-align: center;
    width: 8vw;
    height: auto;
    margin: 20px auto;
}

.projectWrapper {
    position: relative;
    margin: 0 auto;
    text-align: center;
    color: #3B4257;
    padding-top: 73px;
}

.wrapper {
    perspective: 800px;
    transform: scale(0.7);
    margin: 0 auto;
    display: inline-block;
}

.container2 {
    display: block;
    width: 500px;
    height: 295px;
    max-width: 80vw;
    margin: 0px auto;
    text-align: center;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotateX(0deg) translateZ(125px);
    -moz-transform: rotateX(0deg) translateZ(125px);
    -ms-transform: rotateX(0deg) translateZ(125px);
    -o-transform: rotateX(0deg) translateZ(125px);
    transform: rotateX(0deg) translateZ(125px);
    -webkit-transition: all 0.5s cubic-bezier(0.29, 1.53, 0.33, 1.01);
    -moz-transition: all 0.5s cubic-bezier(0.29, 1.53, 0.33, 1.01);
    transition: all 0.5s cubic-bezier(0.29, 1.53, 0.33, 1.01);
}

a:link {
    color: #999999;
}

a:visited {
    color: #999999;
}

a:hover {
    color: #20B886;
}

.container2 p {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 900;
}

/*Add to projects not ready yet*/
/*#comingSoon {
    font-size: 2.8vw;
    position: relative;
    transform: translateY(-50%);
    top: 35%;
    left: 1%;
    backface-visibility: hidden;
}
*/
.container2:hover {
    -webkit-transform: rotateX(90deg) translateZ(125px);
    -moz-transform: rotateX(90deg) translateZ(125px);
    -ms-transform: rotateX(90deg) translateZ(125px);
    -o-transform: rotateX(90deg) translateZ(125px);
    transform: rotateX(90deg) translateZ(125px);
}

.box_front,
.box_bottom {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.box_front1 {
    background-image: url('./img/macbookEurtune1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.box_front2 {
    background-image: url('./img/application.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.box_front3 {
    background-image: url('./img/knightrider.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.box_front4 {
    background-image: url('./img/codepenblinds.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.box_front5 {
    background-image: url('./img/weatherApp.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.box_front6 {
    background-image: url('./img/portfolio.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.box_bottom {
    background-color: white;
    max-width: 80vw;
    color: #3B4257;
    transform: translate3D(0, 7vh, -125px) rotateX(-90deg);
    /******* position x, position y, position z ********/
}

/******************************************************************
                        Photography
*******************************************************************/
#photography {
    height: 100vh;
    width: 100%;
    font-family: futura, sans-serif;
    text-align: center;
    font-size: 20px;
    padding-top: 73px;
}

#photography h1 {
    text-align: center;
    margin-top: 12px;
}

#photography iframe {
    box-shadow: 0px 3px 3px #888, 0px -3px 3px #888;
    border: none; 
    width: 80vw; 
    height: 400px;
}

/******************************************************************
                        Skills
*******************************************************************/

#skills {
    height: 100%;
    width: 70%;
    font-family: futura, sans-serif;
    text-align: center;
    margin: auto;
    font-size: 20px;
    padding-top: 73px;
    padding-bottom: 20px;
}

#skillsSpacer {
    border-bottom: 7px solid #D64541;
    text-align: center;
    width: 8vw;
    height: auto;
    margin: 20px auto;
}

#skills p {
    margin: 0;
}

/******************************************************************
                        Milestones
*******************************************************************/

.milestones {
    margin-top: 40px;
}

@media (max-width: 992px) {
    .milestones .item:first-child,
    .milestones .item:nth-child(2) {
        margin-bottom: 60px;
    }
}

@media (max-width: 768px) {
    .milestones .item:nth-child(3) {
        margin-bottom: 60px;
    }
}

.milestones .item > .circle {
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
    background-color: #D64541;
    border-radius: 50%;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

#img1 {
    margin-top: 3px;
    margin-left: 4px;
    height: 90px;
    width: 90px;
}
#img2 {
    height: 100px;
    width: 100px;
}

#img3 {
    height: 80px;
    width: 80px;
    position: absolute;
    right: 10%;
    top: 10%;
}

#img4 {
    height: 90px;
    width: 90px;
    position: absolute;
    right: 5%;
    top: 5%;
}

.milestones .item > .circle > i {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    font-size: 45px;
    text-align: center;
}

.milestones .item > .number {
    font-size: 32px;
}

.milestones .item h4 {
    margin-top: 5px;
    font-size: 22px;
    font-weight: 700;
}


/******************************************************************
                    Contact Section
*******************************************************************/

#contactTitle {
    font-size: 40px;
    text-align: center;
}

#contact {
    display: block;
    text-align: center;
    height: 100vh;
    width: 100%;
    position: relative;
    font-family: futura, sans-serif;
    padding-top: 73px;
    background-color: rgba(59, 66, 87, .2);
}

#contactContain {
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
    margin: auto;
    text-align: center;
    width: 100%;
}

#contactContain a {
    cursor: pointer;
}

#contactContain img {
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

#contactContain img:hover {
    transform: scale(1.1);
}


/******************************************************************
                    Go Topside
*******************************************************************/

.go-top {
    position: fixed;
    z-index: 50;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    padding: 1em;
    display: none;
}

a.go-top:link,
a.go-top:visited {
    color: white;
    text-decoration: none;
}

.go-top:hover {
    background-color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    color: white;
}

/******************************************************************
                    Image Fade In On Scroll
*******************************************************************/
#resumeBox {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.resume {
    /*background-color:  ;*/
    text-decoration: none !important;
    color: #3B4257;
    font-size: 20px;
}

a.resume:link,
a.resume:hover {
    color: #D64541;
    text-decoration: none;
}

/******************************************************************
                    Image Fade In On Scroll
*******************************************************************/

.hideme {
    opacity: 0;
}


/******************************************************************
                    Media Queries
*******************************************************************/

@media (max-device-width:639px) {
    #projectsSpacer {
        width: 15vw;
    }
    #profile p {
        text-align: left;
        width: 90%;
    }
    #skills p {
        text-align: left;
        width: 90%
    }
    #photography iframe {
    width: 90vw; 
    }
}


/********************* Menu **************************/

@media (max-width: 767px) {
    .navbar {
        display: block;
        z-index: 50;
    }
    .navigation {
        display: none;
    }
    .navbar-brand {
        font-size: 40px;
        position: fixed;
        top: .5%;
        left: 0;
    }
    #profile h3 {
        display: none;
    }
}


/********************* Iphone 5 Queries **************************/

@media (max-device-width:400px) {
    #mainTitle {
        font-size: 50px;
        line-height: 40px;
    }
    #mainTitle span {
        font-size: 40px;
    }
    #profile h3 {
        display: none;
    }
    #profile p {
        text-align: left;
        width: 90%;
    }
    #skills p {
        text-align: left;
        width: 100%;
    }
    #skills {
        height: 100%;
        padding: 10px;
    }
    #contact img {
        width: 30px;
        height: 30px;
    }
}
